discordwebhook==1.0.3
imbox==0.9.8
matplotlib==3.7.1
mplfinance==0.12.9b7
numpy==1.23.5
pandas==2.0.1
Pillow==10.0.0
pyarrow==12.0.0
PySimpleGUI==4.60.4
PySimpleGUI==4.60.5
pytz==2023.3
Requests==2.31.0
selenium==4.11.2
tensorflow_intel==2.12.0
tqdm==4.65.0
websocket_client==1.5.1
yfinance==0.2.18
